{"swagger":"2.0","info":{"version":"v1","title":"LE.Lodasoft.Api"},"host":"devapi.lodasoft.com","schemes":["http"],"paths":{"/api/Account/UserInfo":{"get":{"tags":["Account"],"operationId":"Account_GetUserInfo","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.UserInfoViewModel"}}}}},"/api/Account/UserData":{"get":{"tags":["Account"],"operationId":"Account_GetUserData","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.UserData"}}}}},"/api/Account/UpdateTwoFactor":{"post":{"tags":["Account"],"operationId":"Account_UpdateTwoFactor","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"twoFactor","in":"query","required":true,"type":"boolean"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/UpdatePhone":{"post":{"tags":["Account"],"operationId":"Account_PostUpdatePhone","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"phone","in":"query","required":true,"type":"string"},{"name":"areacode","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/ConfirmUpdatePhone":{"post":{"tags":["Account"],"operationId":"Account_ConfirmUpdatePhone","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"phone","in":"query","required":true,"type":"string"},{"name":"areacode","in":"query","required":true,"type":"string"},{"name":"code","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/ValidateAccount":{"post":{"tags":["Account"],"operationId":"Account_ValidateAccount","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.LoginBindingModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/SendCode":{"post":{"tags":["Account"],"operationId":"Account_SendCode","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.LoginBindingModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/VerifyCode":{"post":{"tags":["Account"],"operationId":"Account_VerifyCode","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.VerifyCodeModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/SendCodeExternal":{"get":{"tags":["Account"],"operationId":"Account_GetSendCodeExternal","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/VerifyCodeExternal":{"get":{"tags":["Account"],"operationId":"Account_GetVerifyCodeExternal","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"code","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/LoginExternal":{"get":{"tags":["Account"],"operationId":"Account_GetLoginExternal","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/Login":{"post":{"tags":["Account"],"operationId":"Account_Login","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.LoginBindingModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/Logout":{"post":{"tags":["Account"],"operationId":"Account_Logout","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/ManageInfo":{"get":{"tags":["Account"],"operationId":"Account_GetManageInfo","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"returnUrl","in":"query","required":true,"type":"string"},{"name":"generateState","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.ManageInfoViewModel"}}}}},"/api/Account/ChangePassword":{"post":{"tags":["Account"],"operationId":"Account_ChangePassword","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.ChangePasswordBindingModel"}},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/SetPassword":{"post":{"tags":["Account"],"operationId":"Account_SetPassword","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.SetPasswordBindingModel"}},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/AddExternalLogin":{"post":{"tags":["Account"],"operationId":"Account_AddExternalLogin","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.AddExternalLoginBindingModel"}},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/RemoveLogin":{"post":{"tags":["Account"],"operationId":"Account_RemoveLogin","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.RemoveLoginBindingModel"}},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/ExternalLogin":{"get":{"tags":["Account"],"operationId":"Account_GetExternalLogin","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"provider","in":"query","required":true,"type":"string"},{"name":"error","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/ExternalLogins":{"get":{"tags":["Account"],"operationId":"Account_GetExternalLogins","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"returnUrl","in":"query","required":true,"type":"string"},{"name":"generateState","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.ExternalLoginViewModel"}}}}}},"/api/Account/Register":{"post":{"tags":["Account"],"operationId":"Account_Register","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.RegisterBindingModel"}},{"name":"token","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/ConfirmEmail":{"get":{"tags":["Account"],"operationId":"Account_GetConfirmEmail","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"userId","in":"query","required":true,"type":"string"},{"name":"code","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/ForgotPassword":{"post":{"tags":["Account"],"operationId":"Account_ForgotPassword","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.ForgotPasswordBindingModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/ResetPassword":{"post":{"tags":["Account"],"operationId":"Account_ResetPassword","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.ResetPasswordBindingModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Account/RegisterExternal":{"post":{"tags":["Account"],"operationId":"Account_RegisterExternal","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.RegisterExternalBindingModel"}},{"name":"token","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/GetSystemLevel":{"get":{"tags":["Admin"],"operationId":"Admin_GetSystemLevel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.Admin.SystemLevel"}}}}},"/api/Admin/GetExportFileNaming/{companyId}":{"get":{"tags":["Admin"],"operationId":"Admin_GetExportFileNaming","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ConfigurationModel"}}}}},"/api/Admin/checklists/{checklistId}/questions":{"get":{"tags":["Admin"],"operationId":"Admin_AllChecklistQuestions","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"checklistId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Admin"],"operationId":"Admin_UpdateChecklistQuestions","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"checklistId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ChecklistQuestionModel"}}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/GetAllProductByCompanyId":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllByCompanyId","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ProductModel"}}}}}},"/api/Admin/GetProductById/{productId}":{"get":{"tags":["Admin"],"operationId":"Admin_GetProductById","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"productId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ProductModel"}}}}},"/api/Admin/UpdateProduct":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateProduct","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ProductModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertProduct":{"post":{"tags":["Admin"],"operationId":"Admin_InsertProduct","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ProductModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/DeleteProduct/{id}":{"delete":{"tags":["Admin"],"operationId":"Admin_DeleteProduct","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/AllQuestion":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllQuestion","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.QuestionModel"}}}}}},"/api/Admin/UpdateQuestion":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateQuestion","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.QuestionModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertQuestion":{"post":{"tags":["Admin"],"operationId":"Admin_InsertQuestion","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.QuestionModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/DeleteQuestion/{id}":{"delete":{"tags":["Admin"],"operationId":"Admin_DeleteQuestion","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/QuestionAnswerGroupByQuestion":{"get":{"tags":["Admin"],"operationId":"Admin_QuestionAnswerGroupByQuestion","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/AllQuestionAnswer/{questionId}":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllQuestionAnswer","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"questionId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.Admin.QuestionTaskAnswerDto"}}}}}},"/api/Admin/UpdateQuestionAnswer":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateQuestionAnswer","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.Admin.QuestionTaskAnswerDto"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertQuestionAnswer":{"post":{"tags":["Admin"],"operationId":"Admin_InsertQuestionAnswer","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.Admin.QuestionTaskAnswerDto"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/DeleteQuestionAnswer/{id}":{"delete":{"tags":["Admin"],"operationId":"Admin_DeleteQuestionAnswer","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/AllQATaskModel":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllQATaskModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.QATaskModel"}}}}}},"/api/Admin/UpdateQATaskModel":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateQATaskModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.QATaskModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertQATaskModel":{"post":{"tags":["Admin"],"operationId":"Admin_InsertQATaskModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.QATaskModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.QATaskModel"}}}}},"/api/Admin/DeleteQATaskModel/{id}":{"delete":{"tags":["Admin"],"operationId":"Admin_DeleteQATaskModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/AllCheckListItem":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllCheckListItem","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ChecklistModel"}}}}}},"/api/Admin/UpdateCheckListItem":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateCheckListItem","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ChecklistModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertCheckListItem":{"post":{"tags":["Admin"],"operationId":"Admin_InsertCheckListItem","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ChecklistModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.ChecklistModel"}}}}},"/api/Admin/DeleteCheckListItem/{id}":{"delete":{"tags":["Admin"],"operationId":"Admin_DeleteCheckListItem","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/GetSetupReferenceByTemplateCompany_CompanyId/{TemplateCompanyId}":{"get":{"tags":["Admin"],"operationId":"Admin_GetSetupReferenceByTemplateCompany_CompanyId","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"TemplateCompanyId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.SetupReferenceModel"}}}}}},"/api/Admin/UpsertSetupReference":{"post":{"tags":["Admin"],"operationId":"Admin_UpsertSetupReference","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.SetupReferenceModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.SetupReferenceModel"}}}}},"/api/Admin/PageResource/{page}":{"get":{"tags":["Admin"],"operationId":"Admin_GetPageResource","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"page","in":"path","required":true,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/Profile/{userId}":{"get":{"tags":["Admin"],"operationId":"Admin_GetProfile","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.User.ProfileModel"}}}}},"/api/Admin/SaveProfile":{"post":{"tags":["Admin"],"operationId":"Admin_PostSaveProfile","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.User.ProfileModel"}},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/WizardEverythingElse":{"post":{"tags":["Admin"],"operationId":"Admin_WizardEverythingElse","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.Admin.WizardEverythingElseRequestModel"}},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/CurrentReleaseNotes":{"get":{"tags":["Admin"],"operationId":"Admin_GetCurrentReleaseNotes","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"releaseNotesVersion","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Common.Models.ReleaseNotes.ReleaseNotesViewModel"}}}}},"/api/Admin/ViewedReleaseNotes":{"post":{"tags":["Admin"],"operationId":"Admin_ViewedReleaseNotes","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"releaseNotesVersion","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/AllReleaseNotes":{"get":{"tags":["Admin"],"operationId":"Admin_GetReleaseNotes","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.Common.Models.ReleaseNotes.ReleaseNotesViewModel"}}}}}},"/api/Admin/ReleaseNotes":{"post":{"tags":["Admin"],"operationId":"Admin_InsertReleaseNotes","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"releaseNotes","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Common.Models.ReleaseNotes.ReleaseNotesViewModel"}},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Common.Models.ReleaseNotes.ReleaseNotesViewModel"}}}}},"/api/Admin/ReleaseNotes/{id}":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateReleaseNotes","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"releaseNotes","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Common.Models.ReleaseNotes.ReleaseNotesViewModel"}},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Common.Models.ReleaseNotes.ReleaseNotesViewModel"}}}},"delete":{"tags":["Admin"],"operationId":"Admin_DeleteReleaseNotes","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/PermissionMenu":{"get":{"tags":["Admin"],"operationId":"Admin_GetPermissionMenu","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.Admin.PermissionMenu"}}}}},"/api/Admin/AllTable":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllTable","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"/api/Admin/AllUserModel":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllUserModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.UserProfile"}}}}}},"/api/Admin/UpdateUserModel":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateUserModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.UserProfile"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertUserModel":{"post":{"tags":["Admin"],"operationId":"Admin_InsertUserModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.UserProfile"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.UserProfile"}}}}},"/api/Admin/DeleteUserModel/{id}":{"delete":{"tags":["Admin"],"operationId":"Admin_DeleteUserModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Admin/AllCompanyModel":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllCompanyModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.CompanyModel"}}}}}},"/api/Admin/UpdateCompanyModel":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateCompanyModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.CompanyModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertCompanyModel":{"post":{"tags":["Admin"],"operationId":"Admin_InsertCompanyModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.CompanyModel"}},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.CompanyModel"}}}}},"/api/Admin/DeleteCompanyModel/{id}":{"delete":{"tags":["Admin"],"operationId":"Admin_DeleteCompanyModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/CheckRegister":{"post":{"tags":["Admin"],"operationId":"Admin_GetCheckRegister","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Controllers.AdminController.CheckRegisterModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/DeleteInvite/{userId}":{"delete":{"tags":["Admin"],"operationId":"Admin_DeleteInvite","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/ResendInvite/{userId}":{"post":{"tags":["Admin"],"operationId":"Admin_ResendInvite","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InviteUser":{"post":{"tags":["Admin"],"operationId":"Admin_InviteUser","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.Admin.InviteViewModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.UserProfile"}}}}},"/api/Admin/AllInvite":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllInvite","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.Admin.InviteViewModel"}}}}}},"/api/Admin/ImportListUserForCompany":{"post":{"tags":["Admin"],"operationId":"Admin_ImportListUserForCompany","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LE.Lodasoft.Api.Models.Admin.InviteViewModel"}}}}},"/api/Admin/AllRoleModel":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllRoleModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.RoleModel"}}}}}},"/api/Admin/UpdateRoleModel":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateRoleModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.RoleModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertRoleModel":{"post":{"tags":["Admin"],"operationId":"Admin_InsertRoleModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.RoleModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/DeleteRoleModel/{id}":{"delete":{"tags":["Admin"],"summary":"","operationId":"Admin_DeleteRoleModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"id of the role to delete","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","description":"optional companyId","required":false,"type":"integer","format":"int32"},{"name":"replaceWithRoleId","in":"query","description":"optional role id to replace where deleted role was","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/UpdateRoleOrder":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateRoleOrder","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"type":"array","items":{"type":"object"}}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/CompanyAndRoleAndUserForAligment":{"get":{"tags":["Admin"],"operationId":"Admin_GetCompanyAndRoleAndUserAligment","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/AllAlignmentModel":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllAlignmentModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/UpdateAlignmentModel":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateAlignmentModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"type":"object"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertAlignmentModel":{"post":{"tags":["Admin"],"operationId":"Admin_InsertAlignmentModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"type":"object"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/DeleteAlignmentModel/{groupnumber}":{"delete":{"tags":["Admin"],"operationId":"Admin_DeleteAlignmentModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"groupnumber","in":"path","required":true,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/AllLeadStatusModel":{"get":{"tags":["Admin"],"operationId":"Admin_GetAllLeadStatusModel","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.LoanStatusModel"}}}}}},"/api/Admin/GetLeadStatus/{leadStatusId}":{"get":{"tags":["Admin"],"operationId":"Admin_GetLeadStatus","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"leadStatusId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/GetLeadStatusByLoanPurposeId/{LoanPurposeId}":{"get":{"tags":["Admin"],"operationId":"Admin_GetLeadStatusByLoanPurposeId","consumes":[],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"LoanPurposeId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.LoanStatusModel"}}}}}},"/api/Admin/UpdateLeadStatusModel":{"post":{"tags":["Admin"],"operationId":"Admin_UpdateLeadStatusModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.LoanStatusModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Admin/InsertLeadStatusModel":{"post":{"tags":["Admin"],"operationId":"Admin_InsertLeadStatusModel","consumes":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"produces":["application/json","text/json","multipart/form-data","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/LE.Lodasoft.DataAccess.DbModels.Configuration.LoanStatusModel"}},{"name":"companyId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","default":"Bearer vFlSbRZPAXKLS-W296fMc655M5-5oNrQzr-ntQkqPRdeipEzuaPZbXRtBDXlBWPkqxdszUNynuj2NOjHeDFY_EFWRyunq2e-QN-Gcu-1Af5FDqnhp8SMA7bHSqG-cxATwE9U0gGpaXL0eUrVBjjEBtdHXIB9LZ77ZsrTFAw-nakvIE5aMIlL6xVdTjFT-vjX_dv-maM-KLQR8uOerA3PfWJUpxuks_oNbWJ_1pHgHlCL2KeoD_wNV2qhc_3O5aB6IYMO0oV0LnxREPqfpj3XaGGPNM1D_8FDs9nEh1FEexDilLiCK6uhYuiu-QEhuR8u64VZ2GvI0c-tuochzpb7qBGkec9CcQbmJcrYYO6_0W0u4j9XbVHqzBT1uI5ssqJonoxKG6KoyytOXYWVWplhhKBwoy-gh49Z_-4mu93DNxwjcphKUIyVVZP5DS_nFl5SySWfnQ1AftdAUP4r9lF3bWUSV9Fgplb38M6WZOTM8mklE4lvBad6PgloX-doiZ-6SjUAVn6Vn162XD4hB57u1QIlzfqEMAbPRnQdGM_X62c"}],"responses":{"200":{"description":"O
[...]
